.row-fluid
  .span12
    .tabbable.tabs-left
      %ul.nav.nav-tabs.span2
        - @service_areas.each_with_index do |value, index|
          %li{:class => index == 0 ? 'active' : ''}
            = link_to value.name, "#tab#{index}", "data-toggle" => "tab"
      .span1
      .tab-content
        - @service_areas.each_with_index do |value, index|
          .tab-pane{:id => "tab#{index}", :class => index == 0 ? 'active' : ''}
            %h2.span9{:style => 'text-align: center;'}= value.name
            %p.span9= value.description
            .span1
            .span7
              %ul
                - value.services.each do |service|
                  %li= service.name
            .span1
%hr
.row-fluid