/ Jumbotron
.middle_area
  .flexslider
    %ul.slides
      %li
        = image_tag("slides/trust2b.png")
      %li
        = image_tag("slides/innovation2a.png")
      %li
        = image_tag("slides/motivation2a.png")
      %li
        = image_tag("slides/expertise1g.png")
      %li
        = image_tag("slides/time2a.png")
%hr
.row-fluid
  .span12
    = Content.find_by_name('home').try(:content).html_safe
%hr
.row-fluid
  - @service_areas.each do |service_area|
    .span4
      %h3
        = service_area.name
      %p
        = service_area.short_desc
      %p
        = link_to 'View All »', service_areas_path, :class => 'btn'
%hr