!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Nexgen Concepts
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / Le styles
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
  %body{:style => 'background-color: lavender;' }
    .container
      .masthead
        %h3.muted.mylogo_tag
          = image_tag("nexgenconcepts_logo.jpg")
        = render :partial => 'shared/nav_bar'
      = yield
      = render :partial => 'shared/footer'